.profile {
    padding-bottom: 96px;
}

.profile__header {
    display: flex;
    gap: 32px;
    align-items: center;
}

.profile__avatar {
    width: 196px;
    height: 196px;
    border-radius: 32px;
    object-fit: cover;
}

.profile__info {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.profile__name {
    font-size: 28px;
    font-weight: 600;
    color: var(--color-background);
    margin: 0;
}

.profile__up {
    display: flex;
    flex-direction: column;

    gap: 16px
}

.profile__phone,
.profile__email {
    font-size: 16px;
    color: var(--color-secondary);
    margin: 0;
}

.profile__tickets h3 {
    font-size: 24px;
    font-weight: 500;
    color: var(--color-background);
    margin-bottom: 16px;
    margin-top: 64px;
}